.footer-p1{
    padding:57px 2% 57px 8% ;
    align-items: center;
    background-color:#34215b ;
    /* color:#4cc5b2; */
    color:white;
    border-bottom:1px solid  rgb(244, 237, 255);
    font-size: larger;
    
}
a{
    color: #4cc5b2;
}
 
.foot-topic{
    gap:20px;

}
.connect{
    list-style: none;
    display: flex;
    gap:20px;
  
    margin-right: 0;
}
.conf{
    display: flex;
    gap:40%;
     
}
.footer-p2{
    padding:8% 86px 12% 4%;
    background-color: #34215b;
    /* font-size: x-large; */
    /* overflow-y: scroll  ; */
    color:white;
    display:flex;
    font-size: large;
    gap :5%;

    
}
/* .footer-p2 .parts:nth-child(2){
    gap:0;
} */
.parts ul :nth-child(1){
    max-width: 500px;
}
.parts ul{
    list-style: none;
}
.parts_l ul{
    list-style: none;
    
}
.parts_l ul li:nth-child(1){
    margin-bottom:55px ;
 
}
/* .parts ul:nth-child(1){
    border-right: 2px solid white;
}
.parts_l ul:nth-child(1){
    border-right: 2px solid white;
} */
/* .parts ul li:nth-child(2){
   margin:0 6px 0 6px;
} */
/* 
.parts_l ul{
    border-right: 2px solid white;
    
}
.parts_l ul li{
    margin-right: 20px;
}
.parts_l ul:nth-child(3){
         border-right: none;
} */

 