/* Main section  */
.main {
  background-image: url("../images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 120vh; */
  width: 100%;
  color: #fff;
}

.main-text-container {
  max-width: 400px;
  padding-top: 100px;
  margin-left: 180px;
}

.main-heading {
  font-size: 45px;
  font-weight: 400;
  font-family: var(--font-family);
  max-width: 50px;
  line-height: 54px;
  text-transform: uppercase;
}

.main-desc {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400px;
  text-align: justify;
}

/* Cards */
.cards-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 200px;
  padding-bottom: 100px;
}
.card {
  min-height: 200px;
  width: 170px;
  background-color: #d9d9d9;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding: 0 15px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}
