.tabs{
    min-height: 110px;
    width: 120px;
    background-color: #d9d9d9;
}
.topic{
    margin-left: 17%;
    font-size: xx-large;
    padding: 5% 0 2% 0;
    color:#34215b;
}
.tab-container{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
    gap:30px;
    margin:3% 10% 8% 17%;   
     
}

@media(min-width:1400px) and (max-width:1730px){
    .tab-container{
        margin: 3% 15% 9% 19%;
        /* row-gap: 50px; */
        gap:40px;
    }
    .topic{
     margin-left: 19%;
    }
}
@media(max-width:400px){

}